@page
@model ConsultasWeb.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pacient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Diagnostico)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Diagnostico)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pacient.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
